extends ../page

block content
    .container-fluid
        .row
            .col-lg-12
                h1.page-header Topic Timelines
            // /.col-lg-12
        // /.row
    // /.container-fluid
